.header{
    width: 100%;
    height: 700px;
    background: url('../img/codes.jpg') center top no-repeat;
    background-size: 100%;
}
.short-info_block{
    /* height: 200px; */
    text-align: center;
    color: white;
    font-size: 22px;
    margin-top: 17%;
    margin-bottom: 50px
}
.short-info_name{
    font-size: 1.8em;
}
.short-info_frontend{
    font-size: 1.6em
}
.type{
    font-size: 1.4em;
    color: red
}
/* Icons CSS*/
.short-info_icons{
    padding-top: 30px;
    margin-top: 20px;
}
img{
    padding: 20px 
}
/* MEDIAS */
@media (max-width: 1280px){
  
}
@media(max-width:1024px){

}
@media(max-width:768px){
 
}
@media(max-width:375px){

}

@media(max-width:415px){
    .short-info_name{
        font-size: 1.2em;
    }
    .short-info_frontend{
        font-size: 0.6em
    }
    .type{
        font-size: 0.4em
    }
}

