*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size:19px;
    color: rgb(0, 0, 0);
    overflow-wrap: break-word;
    background-color: rgb(17, 36, 54);
}
.wrap{
    max-width: 100%;
    min-width: 290px;
    padding: 0 15px;
    margin: 0 auto;
}
.visualy-hidden{
  display: none;
  height: 0px;
  width: 0px;
}