.footer-wrap{
    height: 88px;
    background-color: rgba(24, 48, 71, 0.753);
    border-top: 1px solid #ffffff;
    color: #fff;
    margin-top: 50px;

}
.footer-container_contant{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding-top: 25px;
    /* padding-bottom: 15px; */
}
.footer-home_icon{
    width: 35px;
    height: 35px;
    fill: #fff;
    padding-left: 25%;
}
.footer-home_icon:hover{
    fill: rgb(39, 58, 121);
    transition: all 0.4s;
}
.location-icon{
    width: 25px;
    height: 25px;
    fill: #fff;
}
.footer-block_inform{
    text-align: center;
}
