.header-wrap{
    background: url('../../img/codes.jpg') center top no-repeat rgb(6, 15, 24);
    background-size: cover;
}
.short-info_block{
   margin-top: 20%;
   padding-bottom: 18%;
}
.short-info_block{
   text-align: center;
}
.short-info_name{
    color: #fff;
    font-size: 80px;
    line-height: 90px;
    /* text-align: center; */
    font-weight: normal;
    white-space: nowrap;
}
.type{
    font-size: 60px;
    line-height: 70px;
    color: rgba(107, 182, 243, 0.795);
    padding-top: 40px
}
.short-info_icons{
    padding: 40px 20px 20px 20px
}
.head-socials_icons{
    padding-left: 20px;
}
.head-socials_icons:first-child{
    padding-left: 0px;
}


@media(max-width:1280px){
    .short-info_name{
      font-size: 60px;
      line-height: 65px;
    }
    .type{
      font-size: 40px;
      line-height: 45px;
    }
}
@media(max-width:980px){
    .short-info_name{
     font-size: 45px;
     line-height: 50px;
    }
    .type{
     font-size: 35px;
     line-height: 40px;
    }
}
@media(max-width:650px){
    .short-info_block{
        padding-bottom: 12%;
    }
    .short-info_name{
        font-size: 35px;
        line-height: 40px;
        padding-bottom: 15px;
    }
    .type{
        font-size: 25px;
        line-height: 30px;
    }
    .short-info_icons{
        padding: 20px 10px 10px 10px
    }
}
@media(max-width:550px){
    .short-info_name{
        font-size: 26px;
        line-height: 30px;
    }
    .type{
        font-size: 20px;
        line-height: 25px;
    }
}
@media(max-width:360px){
    .short-info_name{
        padding-top: 50px
    }
}