.about-me{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    margin-top: 150px;
    padding-bottom: 150px;
    color: #fff;
    font-size: 35px;
    line-height: 45px;
}
.my-photo_size{
    width: 350px;
    height: 350px;
    float: right;
    padding-right: 150px;
}
.about-photo_block{
}
.about-me_text{
    text-align: center;
    padding-right: 50%
}