.contacts{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}
.open-modal_button{
    background: rgba(173, 98, 98, 0.123);
    border: 2px solid rgba(158, 139, 139, 0.534);
    margin: 50px auto;
    border-radius: 12px;
    width: 175px;
    height: 75px;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}
.modal{
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;left: 0;right: 0;bottom: 0;
    padding: 10px 10px;
    display: none;
    z-index: 3;
}
.modal-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.modal-form{
    width: auto;
    height: auto;
    background: rgb(200, 194, 209);
    border-radius: 6px;
    padding: 50px;
    position: relative;
}
.modal-close{
    position: absolute;
    top: 5px;
    padding: 0px;
    outline: none;
    right: 20px;
    width: 20px;
    border: none;
    font-size: 35px;
    background: transparent;
    color: #000;
}
.form{
    display: block;
    width: auto;
    max-width: 350px;
}
.form form input{
    width: 100%;
    padding: 0px 12px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 50px;
    max-width: 350px;
    margin: 0px auto 8px auto;
    border-radius: 5px;
}
.modal-send_button{
    margin-top: 30px;
    padding: 20px 60px;
    background-color: rgb(65, 90, 114);
    color: #fff;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    /* transition-duration: 500ms;
    transition-property: background-color */
}
.modal-send_button:hover{
    cursor: pointer;
    background-color: rgb(224, 154, 154);
    transition: all 0.5s
}
.modal-error_message{
    padding-top: 10px;
    color: rgb(196, 57, 57)
}
.after-modal_message{
    color: #fff;
    padding-bottom: 40px;
    font-size: 50px;
    line-height: 55px;
}
/* icons CSS*/
.icon { 
    width: 50px; 
    height: 50px;
    fill: #fff;
}
.icon:hover{
  fill: rgb(160, 98, 139);
  transition: all 0.4s
}
.contacts-socials{
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3,150px);
      justify-content: center;
      grid-gap: 10px;
}
.contacts-socials_items{
      text-align: center;
}
@media(max-width:1024px){
    .after-modal_message{
        font-size: 42px;
        line-height: 45px;
    }
}
@media(max-width:980px){
     .after-modal_message{
         font-size: 35px;
         line-height: 40px
     }
     .contacts-socials{
         grid-template-columns: repeat(3,100px);
     }

}
@media(max-width:768px){
    .after-modal_message{
        font-size: 25px;
        line-height: 30px;
    }
    .contacts-socials{
        grid-template-columns: repeat(3,1fr)
    }
}
@media(max-width:550px){
    .after-modal_message{
       font-size: 20px;
       line-height: 25px;
    }
    .contacts-socials{
        grid-gap: 0px;
    }
    .icon{
        height: 40px;
        width: 40px;
    }
}