.contacts{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}
.open-modal_button{
    background: rgba(173, 98, 98, 0.123);
    border: 2px solid rgba(158, 139, 139, 0.534);
    margin: 50px auto;
    border-radius: 12px;
    width: 175px;
    height: 75px;
    font-size: 25px;
    line-height: 30px;
}
.modal{
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;left: 0;right: 0;bottom: 0;
    padding: 10px 10px;
    display: none;
    z-index: 3;
}