.want-to_learn{
    margin: 100px 0px 100px 0px;
    color: #fff;
    text-align: center;
}
.wtl-block{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.learn-block_title{
    padding: 35px 0px 30px 0px;
}
.learn-logo{
    width: 100px;
    height: 100px;
}
.wtl-end_text{
    padding-top: 55px;
    font-size: 25px;
    line-height: 30px;
}
.twl-about_text{
    padding: 20px 0px
}
@media(max-width:768px){
    .want-to_learn{
        margin: 30px 0px 30px 0px
    }
}
@media(max-width:550px){
    .learn-block_title{
        padding: 10px 0px 15px 0px
    }
    .wtl-block{
        grid-template-columns: auto;
    }
    .want-to_learn{
        margin: 50px 0px 50px 0px;
    }
    .wtl-end_text{
        font-size: 20px;
        line-height: 25px
    }

}